@charset "utf-8";
/* CSS Document */

#wrap {
    color: #404040;
    /*margin: 0 12%;*/
    margin: 10px 10px;
}

.jcarousel-skin-tango .jcarousel-container {
   /* -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;*/
    background: #F0F6F9;
    border: 1px solid #346F97;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 650px;/*245px*//*do rong ben ngoai*/
    padding: 10px 40px;/*20-*/
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 560px;/***do rong ben trong***/
    height: 260px;
	background:#F0F6F9;/**mau xanh la cay !**/
	padding:10px 0px;
	margin:auto;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 180px;/*khoang cach giua hai tam hinh*/
    height: 250px;/*chieu cao cua tam hinh*/	
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left:0;
	margin-right:40px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 40px;
    margin-right: 0;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 130px;
    right: 20px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url('../images/data/next-horizontal.png') no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url('../images/data/prev-horizontal.png');
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position:absolute;
    top: 130px;
    left: 20px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url('../images/data/prev-horizontal.png') no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url('../images/data/next-horizontal.png');
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
} 









